<header>
    <div class="h-container">
        <div>LOGO</div>
        <div class="abt"><a href="/events/plus-event#about">ABOUT US</a></div>
    </div>
</header>

<div class="p-welcome">
    <div class="w-container">
        <div class="w-title">ESPERANZA CLUB</div>
        <div class="w-ename">PLUS EVENT</div>
    </div>
</div>

<div class="univ">
    <div class="u-container">
        <div class="u-logo"><img src=""></div>
        <div class="u-bs">></div>
        <div class="u-univ"></div>
    </div>
</div>

<div class="p-schedule">
    <div class="s-title">
        Event Schedule
    </div>
    <div class="s-schedule">
        <!--
        <div class="d1">
            <div class="d-title">Front-End web development</div>
            <div class="d-desc">
                Date: Monday 21/03/2022
                Time: From 12:00 to 16:00
                Location: المكتبة المركزية -مكتبة المطالعة لكلية العلوم الدقيقة و الاعلام الآلي
            </div>
        </div>
        -->
        <div class="d1" *ngFor="let ws of workshops">
            <img class="d-img" src={{ws.img}}>
            <div class="d-time">{{ws.date.getDate() - today.getDate() < 0 ? 'Finished' : (ws.date.getDate() -
                    today.getDate()) + ' Days Left' }}</div>
                    <div class="d-title">{{ws.title}}</div>
                    <div class="d-loc">{{ws.loc}}</div>
                    <div class="d-date">
                        <div class="d-day">{{ws.date.getDate()}}</div>
                        <div class="d-month">{{ws.date.getMonth().toString().padStart(2, '0')}}</div>
                        <div class="d-year">{{ws.date.getUTCFullYear()}}</div>
                    </div>
            </div>
        </div>
    </div>

    <div class="about" id="about">
        <div class="a-container">
            <div class="a-title">
                <div class="a-about">ABOUT</div>
                <div class="a-us">US</div>
            </div>
            <div class="a-about-us">
                <div>Esperanza Club:
                    A club founded in 2019 that is active at the of Jijel University. The club is interested in making
                    the university student conversant with the greatest amount of knowledge at the scientific, cultural
                    and technical levels. Accordingly, its objectives are:
                    <br><br>
                    <ul style="margin-left: 3%;">
                        <li>Connecting the student to scientific and technical developments</li>
                        <li>Participate in various events that help the student develop learning and leadership skills
                            and allow for effective communication</li>
                        <li>Develop individual skills by organizing training courses and workshops</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="about" id="plus">
        <div class="a-container">
            <div class="a-title">
                <div class="a-about">ABOUT</div>
                <div class="a-us">+PLUS</div>
            </div>
            <div class="a-about-us">
                <div>
                    "+plus" is an opportunity to develop knowledge in the areas presented through workshops and lectures, encourage teamwork and exchange knowledge and experiences, as well as take a new experience through the competition available through the use of acquired skills and the acquisition of new ideas.
                </div>
            </div>
        </div>
    </div>

    <div class="count-down">
        <div class="cd-container">
            <div class="cd-ctn">
                {{daysLeft}}
                <div class="num">DAYS</div>
            </div>
            <div class="cd-ctn">
                {{hoursLeft}}
                <div class="num">HOURS</div>
            </div>
            <div class="cd-ctn">
                {{minutesLeft}}
                <div class="num">MINUTES</div>
            </div>
            <div class="cd-ctn">
                {{secondsLeft}}
                <div class="num">SECONDS</div>
            </div>
        </div>
    </div>