<header>
    <div class="h-container">
        <div>LOGO</div>
        <div class="abt"><a href="/events/plus-event#about">ABOUT US</a></div>
    </div>
</header>

<!--
<div class="p-welcome">
    <div class="w-container">
        <div class="w-title">ESPERANZA CLUB</div>
        <div class="w-ename">PLUS EVENT</div>
        <div class="w-edesc">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam quisquam aspernatur culpa qui officia adipisci ipsa esse rem veritatis est, voluptatum, maxime quibusdam sequi consectetur.
        </div>
    </div>
</div>
-->

<div class="univ">
    <div class="u-container">
        <div class="u-logo"><img src=""></div>
        <div class="u-bs">></div>
        <div class="u-univ"></div>
    </div>
</div>

<div class="about" id="about">
    <div class="a-container">
        <div class="a-title">
            <div class="a-about">ABOUT</div>
            <div class="a-us">US</div>
        </div>
        <div class="a-about-us">
            <div>orem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis quasi quidem eos, velit, voluptatibus facilis optio magni saepe odit omnis eligendi numquam quos commodi ad minus deserunt architecto corporis repudiandae provident assumenda, et veritatis asperiores at? Fugiat incidunt reiciendis omnis! Et, repudiandae? Cupiditate unde vel maxime officia nisi, quaerat mollitia.</div>
        </div>
    </div>
</div>


<div class="count-down">
    <div class="cd-container">
        <div class="cd-days"   >{{daysLeft}}</div>
        <div class="cd-hours"  >{{hoursLeft}}</div>
        <div class="cd-minutes">{{minutesLeft}}</div>
        <div class="cd-seconds">{{secondsLeft}}</div>
    </div>
</div>

<!--
<div class="p-schedule">
    <div class="s-title">
        Event Schedule
    </div>
    <div class="s-schedule">
        <div class="d1">
            <div class="d-title">DAY -1-</div>
            <div class="d-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor eveniet, tempore obcaecati consectetur quibusdam impedit debitis ipsa placeat explicabo sint numquam aliquid nisi, natus inventore dignissimos sit itaque aut molestias. Inventore consequatur sint blanditiis totam exercitationem, repellat mollitia veniam, nisi quaerat libero sunt expedita dicta quos temporibus quia sit ratione?</div>
        </div>
        <div class="d2">
            <div class="d-title">DAY -2-</div>
            <div class="d-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor eveniet, tempore obcaecati consectetur quibusdam impedit debitis ipsa placeat explicabo sint numquam aliquid nisi, natus inventore dignissimos sit itaque aut molestias. Inventore consequatur sint blanditiis totam exercitationem, repellat mollitia veniam, nisi quaerat libero sunt expedita dicta quos temporibus quia sit ratione?</div>
        </div>
        <div class="d3">
            <div class="d-title">DAY -3-</div>
            <div class="d-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor eveniet, tempore obcaecati consectetur quibusdam impedit debitis ipsa placeat explicabo sint numquam aliquid nisi, natus inventore dignissimos sit itaque aut molestias. Inventore consequatur sint blanditiis totam exercitationem, repellat mollitia veniam, nisi quaerat libero sunt expedita dicta quos temporibus quia sit ratione?</div>
        </div>
    </div>
</div>
-->
